@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Hind+Siliguri:wght@300&family=Scheherazade+New&display=swap');
:root {
  --body-bg: rgb(90,113,233);
  --body-grad1:rgba(90,113,233,1);
  --body-grad2:rgba(241,116,141,1);
  --card-bg:rgb(255, 255, 255);
  --form-btn-bg: rgb(192, 250, 250);
  --plus-bt: rgb(255, 255, 255);
  --conf-bt-bg: #e63737;
  --canc-bt-bg: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
input[type='text'] {
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  background: var(--body-bg);
  background: linear-gradient(195deg, var(--body-grad1) 50%, var(--body-grad2) 50%);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;

  header {
    background: transparent;
    position: fixed;
    top: 0;
    padding-left: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    z-index: 10;
    

    .main-card {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      align-items: center;
      background-color: var(--card-bg);
      width: stretch;
      max-width: 19rem;
      padding: 1rem;
      border-radius: 9px;
      box-shadow: .15rem .15rem 0 0 rgba(0, 0, 0, 0.342);
      
      .card-header {
        display: flex;
        gap: 1.5rem;
        align-items: center;
                  
        h1 {
          font-family: 'Poppins', sans-serif;
          font-size: 1.5rem;
          font-weight: 700;
        }
        #show-input {
          width: 2rem;
          height: 2rem;
          border: none;
          border-radius: 20px;
          color: var(--plus-bt);
          font-size: 1.2rem;
          background-color: var(--body-grad2); 
        }
      }
      form {
        padding: 0.5rem;
        display: none;
        gap: 1rem;
        flex-direction: column;  
        width: 90%;      

        &[aria-expanded="true"] {
          animation: slidein 300ms forwards;
          display: flex;
        }
        &[aria-expanded="false"][data-transition="true"] {
          animation: slideout 300ms forwards;
          display: flex;
        }
        div { 
          .description {
            display: flex;
            justify-content: space-between;

            p {                
              transform: translateY(1.6rem) translateX(.5rem);
              &[aria-expanded="true"] {
                animation: goUp 400ms forwards;
              }
              &[aria-expanded="false"][data-transition="true"] {
                animation: goDown 400ms forwards;
              }
            }
            button {         
              background-image: url('https://cdn-icons-png.flaticon.com/512/1159/1159745.png');
              background-size: contain;
              border: none;
              background-repeat: no-repeat;
              background-color: transparent;
              width: 11%;
              
              &:focus {
                transition-property: background;
                transition: 400ms ease-in-out;
                background-image: url('https://cdn-icons-png.flaticon.com/512/248/248961.png');
              }
            }
          }                       
            .error-msg {
              font-size: .8rem;
              font-weight: 700;
              padding: .3rem 0;
              color: var(--conf-bt-bg);
            }
        }
        div,fieldset {           
          border: none;    
          input {
            width: 100%;
            height: 1.5rem;
          } 
        } 
        .form-botao {
          width: 35%;  
          padding: .3rem;
          background-color: var(--body-grad2);
          font-size: 1rem;
          border-radius: 9px;
          border: none;
          box-shadow: .15rem .2rem 0 0 rgba(0, 0, 0, 0.164);

          &:hover {
            transform: scale(1.1);
          }
          &:focus {
            transform: scale(1);
            box-shadow: none;
          }
        }  
      }
    }
  }
  main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 9rem 1rem 0;
      
          
        ul {
          display: grid;
          margin:0 2rem;
          border-radius: 9px;            
          gap: 1rem;
          width: 100%;  
          background-color: transparent;
          list-style-type: none;

          li {
            display: grid;
            grid-template-columns: 1.5rem 3.5rem calc(100% - 5rem);
            padding: .5rem;
            justify-items: center;
            position: relative;           
            border-radius: 10px;
            border: 2px solid rgb(224, 221, 221);
            box-shadow: .1rem .1rem 0 0 rgb(151, 150, 150);
            background-color: white;
            word-break:break-all;

            .task-checker {
              grid-row: 1/2;
            }
            .edit-task-btn {
              grid-row: 2/3;
              grid-column: 1/2;
              background-image: url('https://cdn-icons-png.flaticon.com/512/481/481874.png');
            }
            .delete-task-btn {
              grid-row: 3/4;
              grid-column: 1/2;
              background-image: url('https://cdn-icons-png.flaticon.com/512/1345/1345823.png');

            }

            label,input[type=text] {
              grid-column: 2/-1;
              grid-row: 1/3;              
              justify-self: start;
              margin-left: .5rem;
            }
            input[type=checkbox] {
              opacity: 0;
              transform: scale(0);
            }
            label {
              width: 100%;
              padding: 0 .5rem;  
              cursor: pointer;         
              display: block;
              position: relative;
              top: -.15rem;

              &::before {
                content: '';
                position: absolute;
                width: 1rem;
                height: 1rem;
                left: -1.8rem;
                top: 0.17rem;
                border-radius: 4px;
                border: 1px solid gray;
              }

              &::after {
                content: '';
                position: absolute;
                width: .7rem;
                height: .7rem;
                left: -1.6rem;
                top:0.3rem;
                background-image: url('https://cdn-icons-png.flaticon.com/512/594/594586.png');
                background-size: contain;               
                background-repeat: no-repeat;
                transform: scale(0);
              }

              &[aria-expanded="true"]::after {
                animation: goUp 400ms forwards;
              }
              &[aria-expanded="false"][data-transition="true"]::after {
                animation: goDown 400ms forwards;
              }
            }
            .task-error {
              grid-column: 2/4;
              grid-row: 2;
              justify-self: flex-start;
              font-size: .8rem;
              font-weight: 700;
              padding: .7rem ;
              color: var(--conf-bt-bg);
            }
            #date-div {
              justify-self: end;
              grid-column: 3/4;
              grid-row: 3;
              
            }
            .date-task {
              font-size: .75rem;
              font-family: 'Hind Siliguri', sans-serif;
            }
            .confirm {
              position: absolute;    
              bottom: .2rem;         
              left: 1rem;
              justify-self: start; 
              grid-row: 3;              
              grid-column: 2/-1;
              padding: .3rem;               
              font-weight: 700;
              border-radius: 10px;   
              background-color: var(--canc-bt-bg);          
              box-shadow: 0 0 0.2rem 0.05rem rgba(0, 0, 0, 0.582);

              p {
                font-size: .8rem;
                text-align: center;
                font-family: 'Hind Siliguri', sans-serif;
              }

              button {
                font-size: .7rem;
                border-radius: 5px;
                padding: .1rem .2rem;
                margin: 0 .3rem;
                font-weight: 700;

                &:first-of-type {
                  background-color: var(--conf-bt-bg);                  
                  color: white;
                }
                &:last-of-type {                 
                  background-color: var(--canc-bt-bg);
                  color: black;
                }
              }
              &[aria-expanded = "true"]{
                animation: check 400ms forwards;
              }
              &[aria-expanded = "false"][data-transition = "true"]{
                animation: uncheck 400ms forwards;
              }
            }

            &[aria-expanded = "true"] > label::after {
              animation: uncheck 400ms forwards;
            }
            &[aria-expanded = "false"][data-transition = "true"] > label::after {
              animation: check 400ms forwards ;
            }     
          }
        }    
  }
}

.bg-btn {
  aspect-ratio: 1/1;
  width: 80%;
  margin: .3rem 0;
  position: relative;
  top: .4rem;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.disabled {
  display: none;
}

.done {
  opacity: 0.7;

  label {
    text-decoration: line-through; 
    &::after {
      transform: scale(1);
    } 
  }
}

@media (min-width:1000px) {
  ul {
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }
}
@media (min-width:1300px) {
  ul {
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
  }
}
@keyframes slidein {
  from {
    transform: 
    
    translateY(-2rem);
    opacity: 0;
  }
  to {
    transform: 
    
    translateY(0);
    opacity: 1;
  }
}
@keyframes slideout {
  from {
    transform: 
    translateY(0);
    opacity: 1;
  }
  to {
    transform: 
    translateY(-2rem);
    opacity: 0;
  }
}

@keyframes check {
  0% {
    transform: scale(0);
    
  }
  100% {
    transform: scale(1);
    
  }
}
@keyframes uncheck {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes goUp {
  from {
    transform: translateY(1.6rem)
    translateX(.5rem);
  }
  to {
    transform: translateY(0rem)
    translateX(0);
  }
}

@keyframes goDown {
  from {
    transform: translateY(0rem)
    translateX(0);
  }
  to {
    transform: translateY(1.6rem)
    translateX(.5rem);
  }
}
